# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Build output
dist/
coverage/

# Cache
.cache/
.eslintcache

# Env files (DO NOT COMMIT)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor files
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local files
*.local
